<!DOCTYPE html>
<html>
<head>
	  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
	<title>Application: solido_in_paris</title>
</head>
<body style>
<div class= "container">
<header>
	<h1>solido_in_paris</h1>
	<h2>une application solidaire et humaine</h2>
</header>
</div>
	<p>Solido_in_paris!!Une application solidaire qui permet de ne pas jeter,faire profiter a des personne ne mangeant pas a leur faim;des jeunes,des personnes agé et peut etre faire de bonnes rencontre...</p>
</body>
</html>