/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.hea
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

  
 html {
 	margin: 0px;
 }


/* h1 + p designe p:("application solidaire")*/
h1 + p{
	font-size: 26px;
	margin-top: -20px;
	margin-bottom: -4px;
}
.click{
	float: right;
	position: relative;
	top: 30px;
}

header{
	background-color: #E0F8EC ;
}

.container{
	padding: 0px ;
	margin: -20px 0px 0px 0px ;
}

p:first-child{ 
	text-align: center;
	background-color: #E0F8EC;
}


.antigaspi{
	display: block;
	height: 100px;
	width: 200px;
	margin-left: 90px;
}


h3{
	text-align: center;
}
.inscrivez-vous{
	margin-top: 5px;
}
.sans-compte{
	margin-bottom: 0px;
}
form{
	margin-left: 30px;

}
