<!DOCTYPE html>
<html>
<head>
  <title>SolidoInParis</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<div class= "container" style ="margin-left :-11px">
  <div class="row">
    <div class="col-md-6"> <h1>solido_in_paris</h1><p>application solidaire</p></div>
    <div class="click" class="col-md-6"><a>
    <button type="button" class="btn btn-primary btn-lg">se connecter</button>
    <button type="button" class="btn btn-default btn-lg">s'inscrire</button> </a></div>
  </div>
</div>
  
  


</header>


<%= yield %>

</body>
</html>